hbody{
    background-color: blue;
}
jbody{
    text-align: right;
}
h2{
    text-align: center;
}
Fbody{
    text-align: center;
}
final{
    text-align: center;
    background-color: cornflowerblue;
}
image{
    width: 50000px;
}
h3{
    text-align: center;
}